.text-link {
    color: inherit;
    text-decoration: inherit;
}

.search-bar {
    display: flex;
    justify-content: center;
  }

.navbar-custom{
    background-color:rgb(37, 49, 82) !important;
}

.buttons-body{
    background-color:rgb(21, 49, 110) !important;
    color: white;
}

.buttons-body:hover {
    background-color: rgb(28, 47, 88) !important;
    color: white;
}

/* .card-style{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
} */