
.p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(248, 248, 248);
  
}

.card-link {
    text-decoration: none;
  }
  
.card {
    border: 1px solid #e6e2e2;
    margin-bottom: 10px;
    
  }
  
.accordion {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
  }
  
.accordion-item .accordion-header {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
    /* padding: 0px;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #fefefe;
    display: flex;
    align-items: center; */
  };
  
.accordion-button {
    flex: 1;
    text-align: left;
    display: flex;
    
}
  
.accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
.accordion-content.expanded {
    max-height: 1000px; /* Adjust this value as needed */
    transition: max-height 0.3s ease-in-out;
  }
  
.card-style{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* .list-group {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
} */
